<a href="https://colab.research.google.com/github/felipecampelo/Conexao-Python-MySQL/blob/main/ConexaoMySQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### ✅ Conexão Python com MySQL + CRUD ✅

`Objetivo`: Realizar a conexão Python <-> MySQL e realizar as funções de CRUD (Create, Read, Update, Delete) no banco de dados usando o Python.

#### ⏩ Instalação de bibliotecas necessárias ⏪

In [ ]:
# Instalação da biblioteca de conexão (Python <-> MySQL)
!pip install mysql-connector-python

#### ⏩ Importação das bibliotecas ⏪

In [9]:
# Importação das bibliotecas necessárias para a conexão
import mysql.connector
from mysql.connector import Error

# Importação do Pandas para conversão em DataFrame
import pandas as pd

#### ⏩ Definição de funções ⏪

In [1]:
# Função para conectar ao database
# Precisamos do nomedainstancia (host), nomedobanco (db), usuario (user), senha (password)
def conexao_db(host, user, password, db):
  conexao = None
  try:
    conexao = mysql.connector.connect(host = host, user = user, passwd = password, database = db)
    print(f'Conexão com o banco {db} realizada com sucesso!')
  except mysql.connector.Error as err:
    print(f'Erro ao conectar com o banco {db}! {err}')

  return conexao

# Função que permite a execução do SQL
def executar_sql(conexao, sql):
  cursor = conexao.cursor(buffered=True)
  try:
    cursor.execute(sql)
    conexao.commit()
    print('Query executada com sucesso!')
  except mysql.connector.Error as err:
    print(f'Erro ao executar a query! {err}') 

# Função para dar um READ no banco de dados via python
def leitura_sql(conexao, sql):
  cursor = conexao.cursor()
  try:
    cursor.execute(sql)
    return cursor.fetchall()
  except mysql.connector.Error as err:
    print(f'Erro ao listar os dados do banco! {err}')

#### ⏩ Conexão com o MySQL ⏪

In [5]:
# Conectar ao banco de dados
# Antes, preciso ir ao console, SQL > Connections > Add Network (para autorizar o colab a fazer a conexão) > 34.0.0.0/8 e 35.0.0.0/8 (IPs do Colab)
con = conexao_db('34.69.112.221', 'root', 'root', 'soulcode')

Conexão com o banco soulcode realizada com sucesso!

#### ⏩ CRUD ⏪

In [7]:
# INSERT no banco de dados via python
query = "INSERT INTO alunos VALUES (NULL, 'Priscila Meneguel', '103', '33333333333', '12341234', 'Rio de Janeiro', 'RJ')"
executar_sql(con, query)

Query executada com sucesso!

In [24]:
# UPDATE no banco de dados via python
query = "UPDATE alunos SET cidade_aluno = 'Curitiba', estado_aluno = 'PR' WHERE id_aluno = 2"
executar_sql(con, query)

Query executada com sucesso!

In [29]:
# DELETE no banco de dados via python
query = "DELETE FROM alunos WHERE id_aluno = 1"
executar_sql(con, query)

Query executada com sucesso!

In [8]:
# READ no banco de dados via python
query = "SELECT * FROM alunos"
alunos = leitura_sql(con, query)

for i in alunos:
  print(i)

(2, 'Marcos Vinicius', '102', '22222222222', '321321321', 'Curitiba', 'PR')
(3, 'Priscila Meneguel', '103', '33333333333', '12341234', 'Rio de Janeiro', 'RJ')

#### ⏩ Conversão para DataFrame ⏪

In [12]:
# Convertendo em DataFrame

colunas = ['id', 'nome_aluno', 'matricula_aluno', 'cpf_aluno', 'rg_aluno', 'cidade_aluno', 'estado_aluno']
df = pd.DataFrame(alunos, columns = colunas)

df

,id,nome_aluno,matricula_aluno,cpf_aluno,rg_aluno,cidade_aluno,estado_aluno
0,2,Marcos Vinicius,102,22222222222,321321321,Curitiba,PR
1,3,Priscila Meneguel,103,33333333333,12341234,Rio de Janeiro,RJ